@import url(https://fonts.bunny.net/css?family=braah-one:400);

.front-page-hero {
    font-size: 1.6em;
    background: none;

    h1, h2, h3 {
        display: inline;
        margin: 0;
        padding:0;

        font-weight: bold;
        text-decoration: underline;
    }
    
    a {
        font-weight: bold;

        &::before {
            content: '[';
        }

        &::after {
            content: ']';
        }
    }
}

.title, 
.content h1,h2,h3,h4 {
    font-family: 'Braah One', sans-serif;
    font-weight: 400 !important;
    text-transform: uppercase;
}

.main-nav {
    border-bottom:2px solid #ccc;
    height: 75px;

    .navbar-item img {
        max-height: none;

    }
}

.subnav-wrapper {
    border-bottom:2px solid #ccc;
    padding: .5em 0;
    box-shadow: rgba(0,0,0,.1) 0px 0px 4px;
}

footer {
    border-top:2px solid #ccc;
}