@import url(https://fonts.bunny.net/css?family=albert-sans:100,400,500,500i,600,600i,700,800i|barlow:400,400i,500,500i,600,600i);

@import "components/ui-date.scss";
@import "components/ui-breadcrumb.scss";
@import "components/ui-specialhero.scss";
@import "components/ui-frontpage-event-card.scss";
@import "components/ui-frontpage-hero-cta.scss";
@import "pages/events.scss";

body, html {
    font-size: 20px;
    height: 100%;
}

.socalnug-hero {
    background: rgb(9,9,121);
    background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(7,58,154,1) 14%, rgba(0,212,255,1) 100%);

    text-shadow: rgba(0,0,0,.3) 0px 2px 3px;

    .title {
        color: #fff !important;
    }
}

.title, 
.content h1,h2,h3,h4 {
    font-family: 'Albert Sans', sans-serif;
}

p, ul, a, span, div {
    font-family: 'Barlow', sans-serif;
}

.main-nav {
    .navbar-item, a.button {
        font-family: 'Albert Sans', sans-serif !important;
    }
}

.subnav-wrapper {
    padding: .5em 0;
    box-shadow: rgba(0,0,0,.1) 0px 0px 4px;
}

footer {
}