<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logotype.svg" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        
        <a class="navbar-item" href="/events">
          <strong>Events</strong>
        </a>
  
        <a class="navbar-item" href="/about">
          <strong>About</strong>
        </a>        
      </div>
  
      <div class="navbar-end">
        
        <div class="navbar-item">
          <div class="buttons">
            <a class="button" href="https://matrix.to/#/#socal-nug:matrix.org" target="_blank">
              <strong>Matrix Chat</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </nav>