<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p>
            <a href="https://github.com/Socal-Nix-User-Group">Github</a>
           </p>

        </div>

        <div class="column socials has-text-right">
          <p>
            &copy; 2023 Southern California Nix User Group
           </p>

           <p>
            Not near Southern Califronia?
            Find more Nix User Groups at <a href="https://nix.ug/">nix.ug</a>
           </p>
        </div>
      </div>
    </div>
</footer>
