<div class="card rsvp-card">
    <header class="card-header">
        <p class="card-header-title">
            Event Overview
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <ul>
                <li>{{ page.extra['organizer']}}</li>
                <li>{{ page.extra['location']}}</li>
                <li>{{ page.extra['event_date']}}</li>
            </ul>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">RSVP</a>
        <a href="#" class="card-footer-item">Download to calendar</a>
    </footer>
</div>