<div class="event-info">
    <div class="card">
        <header class="card-header">
            <h2 class="card-header-title">Event Details</h2>
        </header>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    🕗
                </div>
                <div class="media-content">
                    {% set date_parts = page.extra.event.date | split(pat="-") %}
                    <time>
                        {{ 
                            date_macros::date_full(
                            year=date_parts[0] | int,
                            month=date_parts[1] | int,
                            day=date_parts[2] | int)
                        }}
                        <br>
                        {% if 'start_time' in page.extra.event %}
                            {{ page.extra.event['start_time'] }}
                        {% endif %}
                        {% if 'stop_time' in page.extra.event %}
                            - {{ page.extra.event['stop_time'] }}
                        {% endif %}
                    </time>
                </div>
            </div>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
                📍
            </div>

            <div class="media-content">
                <address class="event-address">
                    <span class="p-name">{{ page.extra.venue.name }}</span>
                    <span class="p-street-address">{{ page.extra.venue.address_street }}</span>
                    
                    {% if page.extra.venue.address_unit %}
                    <span class="p-unit">{{ page.extra.venue.address_unit }}</span>
                    {% endif %}
                    
                    <span>
                        <span class="p-locality p-city">{{ page.extra.venue.address_city}}</span>, <span class="p-zip-code">{{ page.extra.venue.address_zip }}</span>
                    </span>

                    {% if page.extra.venue.website %}
                    <br>
                    <a href="{{ page.extra.venue.website }}">Website<a/>
                    {% endif %}

                    {% if page.extra.venue.google_maps %}
                    <br>
                    <a href="{{ page.extra.venue.google_maps }}">Google Maps<a/>
                    {% endif %}
                </address>
            </div>
          </div>
        </div>   
    </div>
</div>
