<section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <h1 class="card-header-title">
                  What is Nix?
                </h1>
              </header>
              <div class="card-content">
                <div class="content">
                  <p>Discover the power of Nix and how it can revolutionize your software development process.</p>
                </div>
              </div>
              <footer class="card-footer">
                <a href="https://nixos.org/explore/" target="_blank" class="card-footer-item button">
                  Find out More
                </a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <h1 class="card-header-title">
                  What's a NUG?
                </h1>
              </header>
              <div class="card-content">
                <div class="content">
                  <p>Learn about NUGs and how these user groups can help you connect with fellow Nix enthusiasts.</p>
                </div>
              </div>
              <footer class="card-footer">
                <a href="https://nix.ug/" target="_blank" class="card-footer-item button">
                  Find out More
                </a>
              </footer>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  