{% include "partials/home.hero.event-highlight.jstemplate.html" %}

<section class="event-container-wrapper hero has-background-light">
  <div class="hero-body">
    <div id="event-container">
      <div class="container has-text-centered">
        <h1 class="title">
          Our next event
        </h1>
        <div id="event-card" class="frontpage-event-card box">
          <div class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  We currently don't have any new events scheduled.
                  <br>
                  Join us on Matrix to keep up with the latest updates.
                </p>
              </div>
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="buttons mt-3">
                    <a class="button" href="{{ config.extra.matrix_url }}">Matrix Chat</a>
                    <a class="button" href="/events/">Past Events</a>
                    <!-- <a class="button" href="#">RSVP</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function displayEventBadge(event) {
    const eventBadgeClone = document.getElementById('event-highlight').content.cloneNode(true);
    const eventContainer = document.getElementById('event-card');
    const eventBadgeMonth = eventBadgeClone.querySelector('.calendar-date-chip .month');
    const eventBadgeDay = eventBadgeClone.querySelector('.calendar-date-chip .day');
    const eventBadgeName = eventBadgeClone.querySelector('.event-name');
    const eventBadgeLocation = eventBadgeClone.querySelector('.event-location');
    const eventGoogleMapsLink = eventBadgeClone.querySelector('.event-google-maps-link');
    const eventStartTime = eventBadgeClone.querySelector('.event-start-time');
    const eventStopTime = eventBadgeClone.querySelector('.event-stop-time');
    const eventDetailsLink = eventBadgeClone.querySelector('.event-details');

    eventBadgeMonth.innerHTML = event.eventDate.toLocaleString('default', { month: 'short' });;
    eventBadgeDay.innerHTML = event.eventDate.getDate();
    eventBadgeName.innerHTML = event.name;
    eventBadgeLocation.innerHTML = event.location;
    eventGoogleMapsLink.href = event.googleMapsLink;
    eventDetailsLink.href = event.eventUrl;

    if (event.startTime) {
      eventStartTime.innerHTML = event.startTime;
    } else {
      eventStartTime.remove();
    }

    if (event.stopTime) {
      eventStopTime.innerHTML = event.stopTime;
    } else {
      eventStopTime.remove();
    }
    
    eventContainer.replaceWith(eventBadgeClone);
  } 

  (async function () {
    // Grab event page html
    const eventPageHTML = await fetch('/events').then(e => e.text());
    const fragment = document.createRange().createContextualFragment(eventPageHTML);
    const eventElements = Array.from(fragment.querySelectorAll('.event-listing-item'));
    const events = eventElements.map(e => {
      const [year, month, day] = e.dataset.eventDate.split('-');
      const eventDetailsUrl = e.querySelector('a').href;
      return {
        eventDate: new Date(year, month - 1, day, 23, 59, 59),
        eventUrl: eventDetailsUrl,
        name: e.dataset.eventName,
        location: e.dataset.eventLocation,
        googleMapsLink: e.dataset.eventGoogleMaps,
        startTime: e.dataset.eventStartTime,
        stopTime: e.dataset.eventStopTime
      }
    });

    const upcomingEvents = events.filter( e => e.eventDate > new Date())
    if (upcomingEvents.length > 0) {
      displayEventBadge(upcomingEvents.pop());
    } 
  }());
</script>
