<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        Welcome to the <br> Southern California Nix Users Group!
      </h1>
      <h2 class="title is-size-2s">
        We are a group of Nix SoCal Nix enthusiasts
      </h2>
    </div>
  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Join us for our next event!
      </h1>
      <a href="#" class="button is-info is-large">
        Register Now
      </a>
    </div>
  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <h1 class="card-header-title">
                What is Nix?
              </h1>
            </header>
            <div class="card-content">
              <div class="content">
                <p>Discover the power of Nix and how it can revolutionize your software development process.</p>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item button is-info">
                Find out More
              </a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <h1 class="card-header-title">
                What's a NUG?
              </h1>
            </header>
            <div class="card-content">
              <div class="content">
                <p>Learn about NUGs and how these user groups can help you connect with fellow Nix enthusiasts.</p>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item button is-info">
                Find out More
              </a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <h1 class="card-header-title">
                About Us
              </h1>
            </header>
            <div class="card-content">
              <div class="content">
                <p>Get to know more about the Southern California Nix Users Group and our mission.</p>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item button is-info">
                Find out More
              </a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
