<template id="event-highlight">
  <div class="container has-text-centered">
    <div class="frontpage-event-card box">
      <div class="media">
        <div class="media-left">
          {{ date_macros::date_chip(month=1, day=11) }}
        </div>
        <div class="event-media-content">
          <div class="content">
            <h2 class="event-name" style="margin:0;padding:0;">Event Name</h2>
            <h4 class="event-location" style="margin:0;padding:0;">
              <span class="icon">
                &#128205;
              </span>
              23/b Shop
            </h4>
            <span class="event-start-time"></span>
            -
            <span class="event-stop-time"></span>
          </div>
          <div class="level is-mobile">
            <div class="level-left">
              <div class="buttons mt-3">
                <a class="event-details button" href="#">Details</a>
                <a class="event-google-maps-link button" href="#">Directions</a>
                <!-- <a class="button" href="#">RSVP</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
