<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered-mobile">
          <p>
            <a href="https://github.com/Socal-Nix-User-Group" target="_blank">
              <span class="icon">
                <img src="/icons/github/github-mark.svg" alt="GitHub logo" style="max-width: 1.5rem; height: auto;">
              </span>
            </a>
           </p>

        </div>

        <div class="column socials has-text-right has-text-centered-mobile">
          <p>
            &copy; Southern California Nix User Group
           </p>

           <p>
            Not near Southern Califronia?
            Find more Nix User Groups at <a href="https://nix.ug/">nix.ug</a>
           </p>
        </div>
      </div>
    </div>
</footer>
