<div class="subnav-wrapper">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {% set current = section | default(value = page) %}
                {% for ancestor in current.ancestors %}
                    {% if loop.first %}
                        {% continue %}
                    {% endif %}
                    {% set section = get_section(path = ancestor) %}
                    <li>
                        <a href="{{ section.permalink }}">{{ section.title }}</a>
                    </li>
                {% endfor %}
                <li class="is-active">
                    <a href="#">{{ current.title }}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>