<section class="hero">
  <div class="hero-body">

    <div class="container">
      <div class="columns home-hero-cta">
        <div class="column text">
          <h3 class="title">What is Nix?</h3>
          <p>
            Nix is a powerful package manager that makes package management reliable
            and reproducible. It provides atomic upgrades and rollbacks, side-by-side installation of multiple versions
            of a package, multi-user package management and easy setup of build environments.
          </p>
          <div class="buttons">
            <a href="https://nixos.org/explore/" target="_blank" class="button is-info">Learn more about NixOS</a>
          </div>
        </div>
        <div class="column image">
          <img src="/icons/nix/nix-snowflake-colors.svg" alt="Nix logo" style="max-height: 300px">
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="columns home-hero-cta reversed">
        <div class="column text">
          <h3 class="title">What is a NUG?</h3>
          <p>
            A Nix User Group (NUG) is a group of people who are interested in Nix and related technologies. NUGs are a
            great way to meet other Nix users, share knowledge and experiences, and learn about new developments in the
            Nix ecosystem.
          </p>
          <div class="buttons">
            <a href="https://nix.ug/" target="_blank" class="button is-info">Discover NUGs around the world</a>
          </div>
        </div>
        <div class="column image">
          <img src="/icons/nix/nug-logo-dark.svg" alt="Nix logo" style="max-height: 300px">
        </div>
      </div>
    </div>
  </div>
</section>