<div aria-label="Nix configuration code">
    <pre class="front-page-hero">
{
    <span aria-hidden="true">groupName = </span><h1>"Southern California Nix Users Group"</h1>;
    <span aria-hidden="true">location = </span><h2>"Southern California"</h2>;
    <h2>nextMeetup</h2> = {
        topic = "Advanced Nix Techniques";
        date = "2023-08-12";
        details = <a href="#">Click here</a>;
    };
    aboutUs = '''
        Expand your Nix knowledge with 
        your local SoCal Nix Users. 
        Connect, code, and create!
    ''';
    otherNUGs = <a href="#">Click here</a>;
    environment = "Friendly and Informative";
};</pre>
</div>
