.calendar-date-chip {
    display: grid;
    min-height: 60px;
    grid-template-rows: 2em 1fr;
    border: 1px solid #333;
    padding:.3em 1em;
    margin: 0 .4em;

    border-radius: 4px;

    .month, .day {
        text-align: center;
    }

    .month {
        border-bottom: 1px solid #333;
        font-weight: bold;
        text-transform: uppercase;
    } 

    .day {
        font-size: 200%;
    }
}