.frontpage-event-card {
    padding: 1.2rem;
    border-radius: 5px;
    width: 50vw;
    max-width: 600px;

    margin: 0 auto;
    text-align: left;
}

// Darkmode media query
@media screen and (prefers-color-scheme: dark) {
    .frontpage-event-card {
      box-shadow: none;
      border: 1px solid #333;
    }
}

@media screen and (max-width: 800px) {
    .frontpage-event-card {
      max-width: none;
      width: auto;
    }
    .event-container-wrapper {
      max-width: none;

      .hero-body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        max-width: none;
      }
    }
  }