.frontpage-event-card {
    background: white;
    color: black;
    padding: 1.2rem;
    border-radius: 5px;
    width: 50vw;
    max-width: 600px;

    margin: 0 auto;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .frontpage-event-card {
      max-width: none;
      width: auto;
    }
  }