@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Poetsen+One&display=swap');

$border-color: #187c96;
$main-backgournd: #48b3d8;
$event-background: #f8f8f8;

.snug-oneyear-banner {
    text-align: center;
    padding: 3ch 0;

    h2 {
        color: #fff;
        padding: 1ch;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    }
}

.main-wrapper {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 166, 255, 0.9066001400560224) 0%, rgba(0, 212, 255, 0) 10%),
        linear-gradient(180deg, rgba(0, 166, 255, 0.9066001400560224) 0%, rgba(0, 212, 255, 0) 33%),
        $main-backgournd;
}

.snug-one-year-intro {
    padding: 1ch 3ch;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Archivo Narrow", sans-serif;
    text-shadow: rgba(0, 0, 0, .3) 0px 0px 3px;
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 1ch 1fr;
    grid-template-rows: 1fr;

    margin: 2ch 0;
}

.timeline::before {
    background-color: $border-color;
    display: block;
    content: ' ';
    height: calc(100% - 4ch);
    width: 1ch;
    grid-column: 2;
    grid-row: 1;

    z-index: 1;
}

.timeline-heading {
    background-color: $border-color;
    padding: 1ch 2ch;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    max-width: 90%;

    text-align: center;
    border-radius: 1ch;
}

h1,
h2,
h3,
h4,
.timeline-heading,
.font-preston-one {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
}

.timeline-content {
    grid-column: 1 /4;
    grid-row: 1;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 2ch;

    margin: 0 2ch 2ch 2ch;

    align-items: center;

    font-size: 1.5rem;
}

.timeline-event {
    width: 100%;
    padding: 3ch;
    border-radius: 2ch;
    border: .6ch solid $border-color;
    background: $event-background;

    img {
        display: block;
        margin: 2ch auto;

        border-radius: 2ch;
    }

    text-align: center;
}

.timeline-special {
    background: $event-background;
    border-radius: 2ch;
    border: .6ch solid $border-color;
}

.members-milestone {
    padding: 3ch;
    font-family: "Poetsen One", sans-serif;
    text-align: center;

    .count {
        line-height: 1em;
        font-size: 10rem;
        font-weight: bold;
        font-family: inherit;
        display: block;
    }

    .word {
        font-size: 1.5rem;
        font-family: inherit;
    }
}

.timeline-chat {
    header {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
        border-bottom: .2ch solid #ccc;
        padding: 1.4ch 0;
        text-align: center;
        margin: 0 0 2ch 0;
    }

    background-color: #f8f8f8;

    padding: 3ch;
    margin: 0;

    border: .6ch solid $border-color;
    border-radius: 2ch;

    max-width: 800px;

    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li.other-chatter {
        text-align: right;

        .name {
            grid-column: 2;
        }

        .message {
            grid-column: 2;
            color: #fff;
            background: rgb(14, 84, 171);
        }
    }

    li {
        display: grid;
        grid-template-rows: 2ch 1fr;
        grid-template-columns: 50% 50%;
        gap: 2px;
        padding: 1ch;
        margin: 0;

        .name {
            font-weight: bold;
            font-size: 1rem;
            grid-row: 1;
            grid-column: 1;

            margin: 0 2ch;
        }

        .message {
            font-size: 1.5rem;
            padding: 1ch 3ch;
            background: rgba(0, 0, 0, .1);
            border-radius: 3ch;

            display: inline-block;
            grid-row: 2;
            grid-column: 1;
        }
    }
}

@media (max-width: 700px) {

    .snug-one-year-intro {
        font-size: 1.2rem;
    }

    .timeline-content {
        font-size: 1rem !important;
        margin: 0 0 2ch 0;
    }

    .timeline-event {
        padding: 1ch;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
    }

    .timeline-chat {
        ol>li>.name {
            margin: 0 1ch;
        }

        ol>li.other-chatter {
            grid-template-columns: 30% 1fr;
        }

        ol>li>.message {
            text-align: center;
            padding: .5ch 1ch;
            margin: .3ch 0;
            border-radius: 1ch;
        }

        padding: 0 0 4ch 0;
    }
}