<section class="timeline-chat timeline-event">
    <header>
        Cool Guys from SCaLE
    </header>

    <ol>
        <li>
            <span class="name">Dan</span>
            <span class="message">You guys wanna start a NUG??</span>   
        </li>
        <li class="other-chatter">
            <span class="name">Rob</span>
            <span class="message">Hell yeah, let's make it happen</span>
        </li>
        <li class="other-chatter">
            <span class="name">David</span>
            <span class="message">lets gooooooooo</span>   
        </li>
    </ol>

    <p>
        <i>A dramatic reenactment of how the SNUG was born</i>
    </p>
</section>