{% import "macros/date.html" as date_macros %}
{% import "macros/gallery.html" as gallery_macros %}
{% extends "child.html" %}

{% block content %}
<h1 class="title is-1 my-4">
  {{ page.title }}
</h1>

<div class="columns event-details">
  <div class="column">
    <div class="content">
      <h3 class="title is-4 mt-3">Description</h3>
      {{ page.content | safe }}
    </div>
  </div>
  <div class="column is-one-third">
    {% include "partials/events.rsvp-card.html" %}
  </div>
</div>

{% if page.extra.gallery %}
{{ gallery_macros::gallery() }}
{% endif %}

{% endblock content %}