<div class="container has-text-centered">
    <div class="frontpage-event-card box">
      <div class="media">
        <div class="media-left">
          



<div class="calendar-date-chip">
    <div class="month">Jun</div>
    <div class="day">1</div>
  </div>

        </div>
        <div class="event-media-content">
          <div class="content">
            <h2 class="event-name" style="margin:0;padding:0;">NUG #6</h2>
            <h4 class="event-location" style="margin:0;padding:0;">Long Beach City College, Liberal Arts Campus</h4>
            <span class="event-start-time">14:00</span>
            -
            <span class="event-stop-time">17:00</span>
          </div>
          <div class="level is-mobile">
            <div class="level-left">
              <div class="buttons mt-3">
                <a class="event-details button" href="/events/2024-06-01/">Details</a>
                <a class="event-google-maps-link button" href="https://maps.app.goo.gl/NhQXDRStqzpNGSQn9">Directions</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>