{% import "macros/date.html" as date_macros %}
{% extends "child.html" %}

{% block body %}
<div class="blog-wrapper">
  <div class="container">
    <h1 class="blog-title">The SNUG Life</h1>
    <h2 class="blog-subtitle">News from our humble user group</h2>
  </div>

  <div class="container">
    <ul class="blog-post-list">
      {% for post in section.pages %}

      <li class="blog-post">
          <h2>
            <a href="{{ post.permalink }}">
              {{ post.title }}
            </a>          
          </h2>
          <p class="blog-post-date">
            {{ "2020-01-01" }}
          </p>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

<style>
.blog-post {
  margin: 2rem 0;
}

.blog-post-date {
}

.blog-post h2 {
  color: #333;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
  padding:  0;
  height: 100%;

  a {
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.blog-title {
  color: #333;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  font-weight: bold;

  text-transform: uppercase;
}

.blog-subtitle {
  color: #333;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  font-weight: bold;

}

</style>
{% endblock body %}
