{% extends "child.html" %}

{% block content %}

  <h1 class="title is-1 mb-3">Events</h1>
  <div class="columns is-multiline is-8">
    {% for page in section.pages | reverse %}
      <div class="event column is-one-third" 
        data-event-date="{{ page.extra['event_date'] }}"
        >
        <a href="{{ page.permalink }}">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="https://picsum.photos/400/200" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2>
                  {{ page.extra['event_date'] }}
                  {{ page.title }}
                </h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}