<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Southern California Nix User Group</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <img id="logo" src="/logo.png" alt="Southern California Nix User Group" />

        <h1>Welcome to the Southern California Nix User Group!</h1>

        <a class="cta-button" target="_blank" href="https://matrix.to/#/#socal-nug:matrix.org">
            Join us on Matrix!
            <hr />
            #socal-nug:matrix.org
        </a>

        <p class="footer-message">
            Website under construction. Stay tuned for updates!
        </p>
    </div>
</body>

</html>